/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
    background-color: inherit;
    font-family: 'Source Sans Pro'
}

h1, h2, h3, p, a {
    margin: 0;
    font-family: inherit;
}

#site-title {
    color: black;
    margin: 0;
    font-size: 1.75em;
    font-family: 'Lora'
}

button:link, button:visited, button:active, button:focus {
    text-decoration: none;
    outline: none;
}

input:link, input:visited, input:active, input:focus {
    outline: none;
}

textarea:link, textarea:visited, textarea:active, textarea:focus {
    outline: none;
}

a:hover, button:hover {
    cursor: pointer
}

a, a:link, a:visited, a:active, a:focus {
    text-decoration: none;
    outline: none;
    color: unset;
}


