div#root {
    display: grid;
    justify-content: stretch;
    min-width: 900px
}

.wrapper {
    display: grid;
    grid-template-columns: 8fr 3fr;
    grid-template-rows: [row1-start] 420px [row1-end] 350px [third-line] auto [fourth-line];
    grid-gap: 2.5rem;
    justify-items: stretch;
    padding: 1em 5rem;
    background-color: rgb(255, 255, 255);
    max-width: 1100px;
    justify-content: center;
    justify-self: center;
}

.section-nav-bar-wrapper {
    grid-column: 1 / 3;
    justify-self: center;
    width: 100%;
    max-width: 1200px;
    height: 50px;
    grid-template-columns: repeat(10, auto);
    display: grid;
    align-items: center;
    justify-items: center;
    color: rgba(0, 0, 0, 0.548);
    margin-top: 7px;
}

.featured-wrapper {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    border-bottom: 1px solid rgb(204, 204, 204);
    display: grid;
    grid-template-columns: 5fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 1.5rem;
    padding-bottom: 34px;
}

.wrapper h1, 
.wrapper h2,
.wrapper h3 {
    font-weight: 400
}

.main-featured-story-item {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 200px minmax(auto, 100px) 61px auto;
}

.featured-story-item {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: .75rem;
    grid-template-rows: minmax(auto, 47px) minmax(auto, 32px);
    overflow: hidden;
}

.featured-story-item:nth-child(2) {
    grid-row: 1 / 2
}

.featured-story-item:nth-child(3) {
    grid-row: 2 / 3
}

.featured-story-item:nth-child(4) {
    grid-row: 3 / 4
}

.featured-story-item h3 {
    font-size: 17px;
}

.homepage-image {
    overflow: hidden;
    margin-bottom: 10px;
}

.featured-story-item .homepage-image {
    grid-column: 1 / 2;
    grid-row: 1 / 4
}

.featured-story-item div:last-child {
    align-self: end;
}

.main-featured-story-item img {
    width: 100%;
    position: relative;
    bottom: 50%;
}

.featured-story-item img {
    height: 100%;
    width: 90%
}

.main-featured-story-item p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5)
}

.featured-story-item p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.main-featured-story-item-title {
    align-self: end;
}

.main-featured-story-item h2 {
    font-size: 25px;
    align-self: end;
}

.welcome {
    grid-column: 1 / 4;
    background-color: #E8F3EC;
    background-image: image_url("./images/brain.png");
    background-repeat: no-repeat;
    background-position: 100% 30%;
    background-size: auto 175%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.welcome div {
    background-color: transparent;
    width: 50%;
    min-width: 440px;
    position: relative;
    padding: 30px 0 15px 40px;
}

.welcome div h1 {
    font-family: "Lora";
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 1rem 1rem 1rem 0;
}

.welcome div p {
    margin: 0
}

.welcome-banner-button-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-column-gap: .75rem;
    justify-content: start;
}

.button, .welcome-banner-button {
    padding: 10px 17px;
    font-size: 14px;
    border: 1px solid black;
    margin: 0;
    border-radius: 4px;
    width: 120px;
}


.welcome-banner-button-container > :first-child {
    background-color: black;
    color: white;
    justify-self: end
}

.welcome-banner-button-container > :first-child:hover {
    background-color: #1B9963;
    cursor: pointer;
    border: none;
}

.welcome-banner-button-container > :nth-child(2) {
    background-color: inherit;
    color: rgba(0, 0, 0, 0.493)
}

.welcome-banner-button-container > :nth-child(2):hover {
    border-color: #1B9963;
    color: rgba(0, 0, 0, 0.623);
    cursor: pointer
}

.feed-wrapper {
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-gap: 1rem;
}

.feed-item-wrapper {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto 150px;
    grid-column-gap: .7rem;
}

.feed-item-image {
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    width: 90%;
    height: 90%;
    margin: auto;
    overflow: hidden;
    max-height: 150px;
}

.feed-item-wrapper img {
    position: relative;
    right: 35px;
    width: 150%;
    height: 100%;
}

.feed-item-wrapper h1 {
    font-size: 23px;
    padding-bottom: 8px;
}

.feed-item-wrapper p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.527);
    padding-bottom: 8px;
}

.feed-item-wrapper p:last-child {
    align-self: start;
}

.author-link {
    color: black;
    font-size: 14px;
}

.author-link:hover {
    text-decoration: underline
}

.sidebars {
    grid-column: 2 / 4;
    height: 100%
}

.sidebar-1 {
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-rows: 61px auto;
    z-index: 2;
    div {
        margin-bottom: 5px
    }
}

.sidebar-1 > h3 {
    background: none;
    grid-column: 1 / 3;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin: 10px;
    text-align: left;
}

.sidebar-2 {
    background-color: rgba(231, 231, 231, 0.5);
}

.reading-list-item-wrapper {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: left;
    justify-items: center;
    font-size: 14px;
    background: none
}

.reading-list-item-wrapper div {
    justify-self: start
}

.reading-list-item-wrapper p:last-child {
    color: rgba(0, 0, 0, 0.534)
}

.reading-list-item-wrapper h1 {
    color: rgba(0, 0, 0, 0.24);
}

.footer {
    border-top: 1px solid #c4c4c4;
    padding-top: 10px;
    display: inline-block;
    color: gray;
    position: sticky;
    top: 5px;
}

.footer a {
    margin: 0 5px;
}
