.story-wrapper {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 400px auto auto 100px 200px;
    // margin: 0 15%;
    width: 100%
}

.story-image {
    border: 1px solid black;
    overflow: hidden;
    margin: 0 -20px;
    display: flex;
    justify-content: center;
}

.story-image img {
    width: 100%;
    align-self: center;
}

.story-title {
    margin: 50px 20% 20px 20%;
    font-family: 'Lora';
    display: grid;
    grid-template-rows: auto 75px;
    grid-gap: 1.5rem;
    align-content: start;
}

.story-title > h1 {
    font-weight: 300;
}

.author-bio {
    justify-self: start;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: .8rem;
}

.author-bio-text {
    padding-top: 2px;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.75);
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
    text-align: center;
}

.story-body {
    margin: 0 20%;
}

.story-body p {
    padding: 10px 0;
    font-size: 18px;
    line-height: 2rem;
    font-family: "Merriweather";
    font-weight: 300

}