.story-wrapper {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 400px auto auto 100px 200px;
    width: 100%
}

.story-image {
    overflow: hidden;
    margin: 0 -20px;
    display: flex;
    justify-content: center;
}

.story-image img {
    width: 100%;
    align-self: center;
}

.story-title {
    margin: 50px 0 20px 0;
    font-family: 'Lora';
    display: grid;
    grid-template-rows: auto 75px;
    grid-gap: 1.5rem;
    align-content: start;
    grid-template-columns: minmax(200px, 700px);
    justify-content: center;
}

.story-title > h1 {
    font-weight: 300;
}

.author-bio {
    justify-self: start;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: .8rem;
}

.author-bio-text {
    padding-top: 2px;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.75);
}

.author-bio button {
    height: 19px;
    margin-top: 6px;
    border-radius: 2px;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    text-align: center;
}

.story-body {
    display: grid;
    grid-template-columns: minmax(200px, 700px);
    justify-content: center;
}

.story-body p {
    padding: 10px 0;
    font-size: 18px;
    line-height: 2rem;
    font-family: "Merriweather";
    font-weight: 300
}

.story-sidebar {
    position: fixed;
    top: 30%;
    left: 80px;
    width: 46px;
    display: block;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.514);
}

.story-sidebar div:hover {
    color: rgba(0, 0, 0, 0.856);
    cursor: pointer;
}

.story-sidebar div {
    margin-bottom: 17px;
}

.sidebar-claps {
    background-image: url(./images/hands.png);
    background-size: contain;
    height: 24px;
    background-repeat: no-repeat;
    text-align: right;
    padding-bottom: 6px;
    font-size: 18px;
}

.sidebar-claps:hover {
    background-image: url(./images/hands-black.png);
    cursor: pointer;
}

.colored {
    color: #b430b4
}

.sidebar-bookmark.colored:hover {
    color: #b430b4
}

