.story-form {
    display: grid;
    min-height: 500px;
    grid-template-rows: 1fr 4fr;
    justify-items: center;
    margin-top: 20px
}

.story-title-input, .story-body-input {
    width: 60%;
    border: none;
    font-family: 'Pt Serif'
}

.story-title-input:focus, .story-body-input:focus {
    outline: none;
}

.story-title-input {
    font-size: 30px;
}

.story-body-input {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.555);
    resize: none;
}

.publish-button {
    position: absolute;
    border: 1px solid rgb(40, 206, 137);
    width: 110px;
    border-radius: 10px;
    height: 30px;
    color: rgb(40, 206, 137);
    top: 28px;
    right: 240px;
}

.publish-button:hover {
    border-color: rgb(34, 175, 116);
    color: rgb(34, 175, 116)
}

.story-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.story-modal-form {
    display: grid;
    position: fixed;
    left: 10%;
    top: 30%;
    height: 400px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 6rem;
    grid-row-gap: .7rem;
    justify-content: center;
    width: 80%;
    z-index: 2;
    
}

.hidden {
    display: none
}

#story-modal-text-1 {
    grid-row: 1 / 2;
    align-self: end;
    font-weight: bold
}

#story-modal-title {
    grid-row: 2 / 3;
    border: none;
    border-bottom: 1px solid rgba(177, 176, 176, 0.822);
    font-weight: semi-bold;
    font-family: 'Source Sans Pro';
    font-size: 20px;
}

#story-modal-body {
    grid-row: 3 / 5;
    border: none;
    border-bottom: 1px solid rgba(177, 176, 176, 0.822);
    resize: none;
    font-family: 'Source Sans Pro';
    color: gray;
}

#story-modal-text-2 {
    font-size: 14px;
    align-self: end;
}

#story-modal-tags {
    grid-row: 2 / 4;
    border: 1px solid rgba(177, 176, 176, 0.822);
}

#story-modal-button {
    grid-row: 5 / 6;
    grid-column: 2;
    background-color: rgb(55, 158, 107);
    font-size: 12px;
    margin: 0;
    border-radius: 5px;
    width: 100px;
    color: white;
    height: 35px;
    align-self: end;
}
