.user-pane-hidden {
    display: none;
}

.user-pane-visible {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
    border: 1px solid rgb(136, 135, 135);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    color: rgb(167, 166, 164)
}

.user-pane-visible a {
    padding: 5px;
    overflow: hidden;
    border-radius: inherit;
    font-family: Hind
}

.user-pane-visible p {
    font-weight: bold;
    color: black;
    padding: 5px;
    overflow: hidden;
    font-family: Hind
}

.user-pane-visible:first-child {
    border: 1px solid gray
}


