.user-profile-wrapper {
    box-shadow: inset 0px 2px 10px 0px rgba(173, 172, 172, 0.425);    display: grid;
    margin: 10px -10px;
}

.user-profile-bio-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(550px, 650px);
    justify-content: stretch;
}

.user-profile-bio {
    width: 100%;
    display: grid;
    grid-template-columns: [line1] minmax(200px, auto) [line2] auto [line3] 100px [line4] 200px [line5];
    grid-template-rows: [line1] 2rem [line2] auto [line3] auto [line4];
    grid-gap: .75rem;
    margin: 50px 0;
    color: rgba(0, 0, 0, 0.753);
}

.user-profile-bio div:first-child {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    align-self: center;
    justify-self: start;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1.5rem;
}

.user-profile-bio img {
    grid-row: 1 / 4;
    grid-column: 4 / 5;
    border: 1px solid gray;
    height: 100%;
    border-radius: 300px;
    justify-self: end
}

.user-profile-bio button {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    border-radius: 4px;
    width: 50px;
    font-size: 12px;
    align-self: center;
}

.not-following-button {
    border: 1px solid #039E74;
    color: #039E74;
}

.not-following-button:hover {
    border-color: rgb(20, 128, 97);
    cursor: pointer;
    color: rgb(20, 128, 97);
}

button.following-button {
    border: 1px solid rgba(252, 57, 57, 0.836);
    color: rgba(252, 57, 57, 0.836);
    width: 75px;
}

.user-profile-bio-biography {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    font-size: 18px;
}

.user-profile-bio-follows {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    justify-content: start;
    font-size: 13px;
}

.profile-story-item {
    display: grid;
    grid-template-rows: 100px 175px auto auto 60px;
    // grid-template-columns: minmax(650px, 800px);
    margin: 30px auto;
    border: .5px solid rgba(196, 195, 195, 0.493);
    border-radius: 5px;
    box-shadow: .5px .5px 1px 0px rgba(184, 182, 182, 0.623);
}

.profile-story-item-header,
.profile-story-item-picture,
.profile-story-item-title,
.profile-story-item-description,
.profile-story-item-footer {
    margin: 0 20px 0 20px
}

.profile-story-item-header {
    margin-top: 25px;
}

.author-bio-text p:first-child {
    color: rgba(0,0,0,.8);
    font-weight: 600;
}

.author-bio-text p:first-child:hover {
    text-decoration: underline;
}

.profile-story-item-picture {
    display: flex;
    justify-content: center;
    overflow: hidden
}

.profile-story-item-picture img {
    align-self: center;
}

.profile-story-item-title {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    align-self: end;
}

.profile-story-item-description {
    margin-top: 5px;
    font-size: 20px;
    color: gray
}

.profile-story-item-footer {
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.claps {
    justify-self: start;
    background-image: url(./images/hands.png);
    background-size: 25px;
    background-repeat: no-repeat;
    color: gray;
    width: 38px;
    text-align: right
}

.claps:hover {
    background-image: url(./images/hands-black.png);
}

.bookmark {
    justify-self: end;
    color: rgba(128, 128, 128, 0.541);
    font-size: 20px;
}

.bookmark:hover {
    color: rgba(128, 128, 128, 0.74)
}

.no-photo-icon {
    grid-row: 1 / 4;
    grid-column: 4 / 5;
    border: 1px solid gray;
    height: 84%;
    width: 38%;
    border-radius: 300px;
    font-size: 40px;
    justify-self: end;
    background-color: purple;
    text-align: center;
    padding-top: 11px;
    color: white;
}